.yell {
    background-color: yellow;
  }
  
  .padding {
    padding: 60px;
  }
  
  
  /*====Bullets position and color change====*/
  
  ol.carousel-indicators {
    bottom: -50px;
  }
  
  ol.carousel-indicators li {
    background: transparent;
    border: 1px solid black;
  }
  
  ol.carousel-indicators li.active {
    background: black;
  }